body {
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.calc-container {
  display: flex;
  flex-direction: column;
  background-color: #ffad33;
  width: 35%;
  height: 75vh;
  justify-content: space-evenly;
  border-radius: 15px;
}

.row {
  display: flex;
  height: 16%;
  justify-content: space-evenly;
}

.buttn {
  background-color: #f2f2f2;
  width: 20%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

#display {
  background-color: #f2f2f2;
  width: 92%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
